body {
    background-color: rgb(217, 63, 63);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#poll-heading {
    font-weight: 800;
    font-size: 500%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.section {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
}

.pollSection{
    background-color: #F8D082;
}

.pollDiv{
    color: #640D6B;
    display: flexbox;
    margin: 20px;
}

.chatSection{
    background-color: #640D6B;
    color: white;
    padding: 0.9% 0.9% 0.9% 0.9%;
}

#poll, #chat {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#question{
    width: 90%;
    padding-bottom: 10px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;

}

#poll button, #chat button {
    margin-top: 10px;
}

#chatMessages {
    width: 100%;
    flex: 1;
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 10px;
    overflow-y: auto;
    background-color: #E65C19;

}

.chat-username {
    font-weight: bold;
    font-size: xx-small;
    color: #007bff; /* Bootstrap primary color */
    margin-right: 5px; /* Space between username and message */
    display: block; /* Make username appear as a block element */
    margin-bottom: 0px; /* Add space below the username */
}

.message-box {
    display: block; /* Stack content vertically */
    background-color: #ffffff;
    border: 1px solid #007bff; /* Bootstrap primary color */
    border-radius: 10px; /* Rounded corners */
    padding: 10px;
    color: #640D6B;
    margin-bottom: 10px;
    word-wrap: break-word; /* Ensure long words wrap */
    max-width: 100%; /* Prevent from growing too large */
    overflow: hidden; /* Hide overflow */
}

#messageInput {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    align-self: start;

}

.send-btn{
    align-self: self-end;
    width: 30%;
}

/* Media query for large screens */
@media (min-width: 1024px) {
    .container {
        flex-direction: row; /* Align sections side by side */
    }

    .section {
        height: 100vh;
        flex: none;
        width: 50%;
    }
}

/* Media query for medium and small screens */
@media (max-width: 1023px) {
    .container {
        flex-direction: column; /* Stack sections vertically */
    }

    .section {
        height: 50vh;
        width: 100%;
    }
}
