body {
    background-image: linear-gradient(to top, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%);
        font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#poll-heading {
    font-weight: 800;
    font-size: 500%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.section {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
}

.pollSection {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.pollDiv {
    color: #640D6B;
    display: flexbox;
    margin: 20px;
}

.radio-buttons{
    padding-top: 2%;
    padding-bottom: 2%;
}


#poll,
#chat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#question {
    width: 90%;
    padding-bottom: 10px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;

}

#poll button,
#chat button {
    margin-top: 5px;
}

.chatSection {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: white;
    padding: 0.9% 0.9% 0.9% 0.9%;
}

#chatMessages {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    width: 100%;
    flex: 1;
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 10px;
    overflow-y: auto;
}

.btn-outline-primary{
    width: 100%;
    text-align: justify;
    font-weight: 700;
    margin-bottom: 2%;
}

#pollForm{
    align-items: center;
    margin-left: 5%;
    width: 80%;
}

.chat-username {
    font-weight: bold;
    font-size: xx-small;
    color: #007bff;
    margin-right: 5px;
    display: block;
    margin-bottom: 0px;
}

.radio-buttons .btn-info:hover,
.radio-buttons .btn-info.selected {
    background-color: #007bff; /* Change background color on hover and when selected */
    color: white; /* Change text color on hover and when selected */
    border-color: #e2d6d6; /* Change border color on hover and when selected */
    border-width: 2px;
}

.message-box {
    display: block;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    border: 1px solid #007bff;
    border-radius: 10px;
    padding: 10px;
    color: #640D6B;
    margin-bottom: 10px;
    word-wrap: break-word;
    max-width: 100%;
    overflow: hidden;
}

#messageInput {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    align-self: start;

}

.send-btn {
    align-self: self-end;
    width: 30%;
}

@media (min-width: 1024px) {
    .container {
        display: flex;
        flex-direction: row;
        /* Align sections side by side */
    }

    .section {
        height: 100vh; /* Full viewport height */
        flex: 1; /* Grow to fill available space */
        max-width: 50%; /* Limit width to 50% of viewport */
    }
}


/* Media query for medium and small screens */
@media (max-width: 1023px) {
    .container {
        display: flex;
        flex-direction: column;
        /* Stack sections vertically */
    }

    .section {
        height: auto; /* Auto height based on content */
        width: 100%; /* Full width of viewport */
        max-width: 100%; /* Limit width to full viewport */
    }
}
